@import "../../../common/scss/colors";
@import "../../../common/scss/variables";
@import "../../../common/scss/index";

.c-user-profile__predictions {
  color: white;
  font-family: sans-serif;
  display: block;
  .all-predictions {
    width: 40%;
    display: inline-block;
  }
  .opened-prediction {
    width: 59%;
    border-left: 0.5px solid white;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 5px;
  }
  h4 {
    margin-bottom: 10px;
  }
  ul {
    li {
      list-style-type: disc;
      margin-bottom: 5px;
      position: relative;
      width: 220px;
      .prediction-content {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 95%;
      }
      .delete-prediction {
        position: absolute;
        right: 0;
        top: -7px;
      }
    }
  }
  .add-new {
    margin-top: 11px;
  }
  /deep/ .c-modal-window {
    fieldset {
      margin-bottom: 6px;
      label {
        font-size: 13px;
        width: 100px;
        display: inline-block;
        @media #{$mobile} {
          width: 100%;
          display: block;
          margin-bottom: 3px;
        }
      }
      .error-message {
        font-size: 13px;
        margin: 5px 0 3px 104px;
        @media #{$mobile} {
          margin-left: 0;
        }
      }
      textarea {
        width: calc(100% - 105px);
        height: 200px;
        display: inline-block;
        vertical-align: top;
        @media #{$mobile} {
          width: 100%;
          display: block;
        }
      }
      .reset {
        float: left;
        @media #{$mobile} {
          float: none;
          display: block;
          width: 100%;
          max-width: 270px;
          margin: 0 auto;
        }
      }
      .submit {
        float: right;
        @media #{$mobile} {
          float: none;
          display: block;
          width: 100%;
          max-width: 270px;
          margin: 20px auto 15px;
        }
      }
    }
  }
}