@import "../../../common/scss/colors";
@import "../../../common/scss/variables";
@import "../../../common/scss/index";

.c-user-profile__predictions {
  color: white;
  font-family: sans-serif;
  h2 {
    margin-bottom: 10px;
  }
  ol {
    li {
      list-style-type: upper-roman;
    }
  }
}