<div class="c-contacts container">
  <div class="content">
    <h3>Услуги гадания, отслеживания</h3>
    <fieldset>
      <span class="label">Контактный телефон:</span>
      <span>
        +38 (091) 998 35 79
        <br/>
        +38 (091) 998 35 79
      </span>
    </fieldset>
    <fieldset>
      <span class="label">E-mail:</span>
      <span class="label">kami_sama_666@mail.ru</span>
    </fieldset>
    <fieldset>
      <span>Ежедневно с 12:00 до 21:00</span>
    </fieldset>
  </div>
</div>