@import "../../../common/scss/colors";
@import "../../../common/scss/variables";
@import "../../../common/scss/index";

.c-modal-window {
  /*position: absolute;
  width: 100vw;
  height: 100vh;
  top: -171px;
  left: 0;
  z-index: 2;*/
  @media #{$phone} {
    height: calc(100vh + 72px);
    top: -140px;
  }
  .modal-backdrop {
    background-color: $light-white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
  }
  .modal {
    background-color: rgba(0, 0, 0, 0.85);
    border: 0.5px solid white;
    width: 600px;
    height: auto;
    padding: 30px;
    position: absolute;
    top: -23px;
    margin-left: -300px;
    left: 50%;
    color: #f5f5f5;
    z-index: 5;
    @media #{$phone} {
      width: 90%;
      left: 5%;
      margin-left: auto;
    }
    @media #{$mobile} {
      width: 98%;
      left: 1%;
      padding: 20px 15px;
    }
  }
}